{{ partial "header.html" . }}
<div class="fs-split">
	<div class="split-image" style="background-image: url('https://www.itsmejuha.co/images/split-lost.jpg');">
   {{ partial "fact-file-box.html" . }} 
  </div>
	<div class="split-content">
		<div class="split-content-vertically-center">
			<header class="main-header">
			{{ partial "page-header.html" . }}
			</header>
			{{ partial "home-content.html" . }}
			{{ partial "footer-navi.html" . }}
		</div>
	</div>
</div>
{{ partial "footer.html" . }}