html, body.page-template-page-fullsingle-split {
  background-color: #0e151b;
}
.fs-split .split-image {
  background-image: url("https://instagram.fqlf1-1.fna.fbcdn.net/t51.2885-15/e35/13531861_220904041636348_446336203_n.jpg");
}

.fs-split .split-reading {
  background-image: url("../../images/reading-back.jpg");
}
.split-bio p, ul, li {
  margin-bottom: 12px;
}

.split-bio h2 {
  margin-top: 2.5rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

ul, ol {
  padding-left: 1.5rem;
  list-style: disc;
}

.split-bio strong {
  font-weight: bold;
  color: #ccc;
}

.split-author img {
  width: 100px;
  border-radius: 100%;
}

.split-author h1 {
  font-weight: 600;
  font-size: 54px; 
  line-height: 1.2;
  text-transform: none;
  letter-spacing: 0.4px;
  color: #fff;
  margin-bottom: 0;
}

.split-bio a {
  color: #f69448;
}

.split-bio a:hover {
  color: #ccc;;
  border-bottom: 1px dotted #ccc;;
}

.split-bio h2 {
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.split-bio em {
  font-style: italic;
}

.split-author .hatlist {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  letter-spacing: 0.4px;
  color: #fff;
  margin-bottom: 40px;
  display: inline-block;
}

.split-author img {
  border: 7px solid #fafafa;
}

.split-list {
  vertical-align: top;
}

.split-list ul {
  list-style-type: none;
  padding-left: 0;
}

.fa {
  padding-right: 0.7rem; 
}

.back-link a{
  text-transform: uppercase;
  font-size: 1rem;
  color: #848d96;
}

@media (min-width: 800px) {
  .fs-split .split-image { width: 40%; }
  .fs-split .split-content { width: 60%; }
  body.page-template-page-fullsingle-split { font-size: 1.15rem; line-height: 2.05rem; letter-spacing: -0.2px; }
}

@media (max-width: 400px) {
  /*body.page-template-page-fullsingle-split { font-size: 1.00rem; line-height: 1.35rem; letter-spacing: -0.2px; } */
}