{{ partial "header.html" . }}
<div class="fs-split">
  <div class="split-image" style="background-image: url('{{ if .IsPage }}{{ $.Param "featimg" }}{{ else }}{{ .Site.Params.coverimage }}{{ end }}');"></div>
  <div class="split-content">
    <div class="split-content-vertically-center">
      <header class="main-header">
      {{ partial "page-header.html" . }}
      </header>
      <article>
        <h1 class="title">Blog Archives</h1>
        <p>List of posts here</p>
        <ul id="page-list">
        {{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "blog") }}
        {{ range $paginator.Pages }}
          <li>
            <a href='{{ .Permalink }}'>
                        {{ .Title }}
            </a>
            <span>– <time datetime="{{ .Date.Format "2006-01-02" }}" itemprop="datePublished">{{ .Date.Format "January 2, 2006" }}</time></span>
          </li>
        {{ end }}
        </ul>
      </article>
      {{ partial "split-navi.html" . }}
    </div>
  </div>
</div>
{{ partial "scripts.html" . }}
{{ partial "footer.html" . }}