<div class="fact-file">
    <h3><i class="fa fa-address-book-o" aria-hidden="true"></i>Fact File</h3>
<dl>
    <dt>Location:</dt>
    <dd>Oulu, Finland</dd>
    
    <dt>Developing since:</dt>
    <dd>2001</dd>
    
    <dt>Areas of expertise:</dt>
    <dd>UX/UI design, front-end development</dd>
    
    <dt>Previously:</dt>
    <dd>Synopsys (current), Codenomicon, Luovi, Stripped Bare Media, Nortal</dd>
    
    <dt>After office hours:</dt>
    <dd>Travel, running, reading, writing, wine &amp; movies</dd>
</dl>
    </div>