<!doctype html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow" />
    <meta name="referrer" content="always" />

    <meta name="msvalidate.01" content="C878242C4F07585075E5A16AA4F650F9" />
    <meta property="fb:pages" content="1450910078330054" />

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="canonical" href="{{ .Permalink }}">

    {{ partial "social-opengraph.html" . }}
    {{ if .IsHome }}{{ partial "google-meta.html" . }}{{ end }}

    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">

    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
  </head>
<body class="dark">
