<!doctype html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-208469-11"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-208469-11');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {{ partial "metatitle.html" . }}
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="always" />
    {{ with .Params.hidden }}<meta name="robots" content="noindex">{{ end }}

    <meta name="msvalidate.01" content="C878242C4F07585075E5A16AA4F650F9" />
    <meta name="yandex-verification" content="9fea4479442b0b10" />
    <meta property="fb:pages" content="1450910078330054" />

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="canonical" href="{{ .Permalink }}">

    {{ partial "social-opengraph.html" . }}
    {{ if .IsHome }}{{ partial "google-meta.html" . }}{{ end }}

    <link rel="dns-prefetch" href="https://www.googletagmanager.com">
    <link rel="dns-prefetch" href="https://ssl.google-analytics.com">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.min.css">

    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
  </head>
<body class="light">
