<div class="split-author">
	<img src="{{ .Site.Params.avatar }}" alt="Juha Liikala" />
	<h1>
		{{ partial "say-hello.html" . }}
	</h1>
</div>

<div class="split-bio">
	<p>Welcome to my humble home of the internets.</p>
	<p>I'm <strong>Juha Liikala</strong>, a Front-End Engineer &amp; Designer, currently at <a href="https://www.synopsys.com/">Synopsys</a>. I live and work in the capital of northern Finland, <a href="https://www.ouka.fi/oulu/english/oulu-information">Oulu</a>.</p>
	<p>I’ve been working in the web industry since 2001. I've freelanced, gone startup founder and worked for several software companies wearing many different hats (front end, back end, product design &amp; more).</p>
	<p>This site is new. It's still missing many key bits and pieces, one of which is my new blog. While this site is getting a fresh paint, come say hi on Twitter <a href="https://twitter.com/juhaliikala/">@juhaliikala</a> or <a href="http://eepurl.com/cxqFQr">join my 2018 blog waiting list here</a>. Cheers!</p>
	<h2>What I'm Up To Right Now...</h2>
	<ul id="right-now">
		<li><strong>Nine to Five:</strong> Working full-time in front-end development / product design role at <a href="https://www.synopsys.com/">Synopsys</a>, building web based tools that help <a href="https://www.synopsys.com/software-integrity/security-testing/software-composition-analysis.html">make software safer</a>.</li>
		<li><strong>Blogging &amp; Side Projects:</strong> I'm currently doing a complete overhaul of my personal website/blog. No other side projects until the new blog is out there in the wild :)</li>
		<li><strong>Reading &amp; Journaling:</strong> While preparing for blogging again, I've been ramping up my reading and journaling hobby. <a href="reading/">Here's what I'm currently reading</a>.</li>
	</ul>
</div>

{{ partial "split-navi.html" . }}