<div class="content">
	<h1 class="title">{{ partial "say-hello.html" . }}</h1>
	<p>Welcome to my humble home on the internets.</p>
	<p>I'm <strong>Juha Liikala</strong>, a Finnish Front-End Engineer &amp; Designer, currently at <a href="https://www.synopsys.com/">Synopsys</a>. I live and work in the capital of northern Finland, <a href="https://www.ouka.fi/oulu/english/oulu-information">Oulu</a>.</p>
	<p>I’ve been working in the web industry since 2001. I've freelanced, gone startup founder and worked for several software companies wearing many different hats (front-end, back-end, product design &amp; more). For more detailed professional history, check out my <a href="{{ .Site.Params.linkedinUrl }}">LinkedIn</a>.</p>
	<h2>What I'm Up To Right Now...</h2>
	<ul id="right-now">
		<li><strong>Work:</strong> Working full-time in front-end development / product design role at <a href="https://www.synopsys.com/">Synopsys</a>, building web based tools that help <a href="https://www.synopsys.com/software-integrity/security-testing/software-composition-analysis.html">make software safer</a>.</li>
		<li><strong>Blogging &amp; Reading:</strong> In 2018, I'm writing exclusively on <a href="{{ .Site.Params.mediumUrl }}">Medium</a>. And to improve one's writing, some fuel is necessary. For that purpose, <a href="reading/">here's what I'm currently reading</a>.</li>
		<li><strong>Latest Travels:</strong> ✈️ <abbr title="Helsinki Vantaa Airport">HEL</abbr> | <abbr title="London Heathrow Airport">LHR</abbr> | <abbr title="Calgary International Airport">YYC</abbr> | <abbr title="John F Kennedy International Airport">JFK</abbr>| <abbr title="Hewanorra International Airport">UVF</abbr> | <abbr title="Ruzyně International Airport">PRG</abbr> | <abbr title="Riga International Airport">RIX</abbr> For current travel endeavours, check out my <a href="{{ .Site.Params.instagramUrl }}">Instagram @nomadcouch</a></li>
	</ul>
	<p>Thanks for dropping by! Come say hello via social media channels or just drop me a note to <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>. Cheers! 👋</p>
	<div>
</div>
</div>
{{ partial "split-navi.html" . }}