<div class="split-lists">
						<div class="split-list">
							<h3>Contact</h3>
							<ul>
								<li><a href="mailto:{{ .Site.Params.email }}"><i class="fa fa-envelope-o"></i>Email</a></li>
							</ul>
						</div>

						<div class="split-list">
							<h3>Social</h3>
							<ul>
								<li><a href="{{ .Site.Params.twitterUrl }}"><i class="fa fa-twitter"></i>Twitter</a></li>
								<li><a href="{{ .Site.Params.instagramUrl }}"><i class="fa fa-instagram"></i>Instagram</a></li>
								<li><a href="{{ .Site.Params.linkedinUrl }}"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
							</ul>
						</div>

						<div class="split-list">
							<h3>Also</h3>
							<ul>
								<li><a href="{{ .Site.Params.mediumUrl }}"><i class="fa fa-medium"></i>Medium</a></li>
								<li><a href="{{ .Site.Params.producthuntUrl }}"><i class="fa fa-product-hunt"></i>Product Hunt</a></li>
								<li><a href="{{ .Site.Params.unsplashUrl }}"><i class="fa fa-camera"></i>Unsplash</a></li>
							</ul>
						</div>

					</div>